@import 'tailwindcss';
@config "./tailwind.config.js";

@utility scrollbar {
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: var(--primary);
	}
	&::-webkit-scrollbar-thumb {
		background: #acacac;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #000000;
	}
}

@layer base {
	:root {
		--background: 0deg 0.0% 96.08%;
		--foreground: 0deg 0% 20%;
		--primary-foreground: 0deg 0% 100%;
		--secondary-foreground: 0deg 0% 100%;
		--accent: 60deg 4.8% 95.9%;
		--accent-foreground: 24deg 9.8% 10%;
		--muted: 60deg 4.8% 95.9%;
		--muted-foreground: 25deg 5.3% 44.7%;
		--destructive: 0deg 84% 60%;
		--destructive-foreground: 0deg 0% 100%;
		--success: 100deg 65% 40%;
		--success-secondary: 145deg 51% 66%;
		--success-foreground: 0deg 0% 100%;
		--border: 20deg 2% 80%;
		--input: 20deg 5.9% 75%;
		--ring: 240deg 10% 3.9%;
		--primary: 190.13deg 76.19% 41.18%;
		--secondary: 192deg 95.09% 31.96%;
		--global-radius: 5px;
		--global-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

		--bg-image-aspect-ratio: 2.25;
		--bg-scale: 1.50;
		--bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
		--bg-gradient-size: calc(var(--bg-scale) * 100%);
	}
	.dark {
		--background: 214.29deg 15.22% 18.04%;
		--foreground: 0deg 0% 90%;
		--primary-foreground: 0deg 0% 100%;
		--secondary-foreground: 0deg 0% 100%;
		--accent: 0deg 0% 25%;
		--accent-foreground: 60deg 9.1% 97.8%;
		--muted: 12deg 6.5% 15.1%;
		--muted-foreground: 24deg 5.4% 63.9%;
		--destructive: 0deg 84% 40%;
		--destructive-foreground: 0deg 0% 100%;
		--success: 100deg 65% 40%;
		--success-secondary: 145deg 51% 50%;
		--success-foreground: 0deg 0% 100%;
		--border: 213.33deg 30% 11.76%;
		--input: 240deg 5% 50%;
		--ring: 0deg 0% 100%;
		--primary: 190.13deg 76.19% 41.18%;
		--secondary: 192deg 95.09% 31.96%;
	}
	body {
		background-color: hsl(214.29deg 15.22% 18.04%);
	}
	.backgrounds {
		min-height: 100%;
		isolation: isolate;
		background-attachment: fixed;
		background-size: cover;
	}
	*,
	::file-selector-button,
	::backdrop,
	::before,
	::after {
		@apply border-border;
	}
	.h1 {
		@apply text-4xl font-extrabold md:text-5xl;
	}
	.h2 {
		@apply text-2xl font-bold md:text-4xl;
	}
	.h3 {
		@apply text-2xl font-semibold md:text-3xl;
	}
	.h4 {
		@apply text-xl font-semibold md:text-2xl;
	}
	.h5 {
		@apply text-lg font-semibold md:text-xl;
	}
	.h6 {
		@apply text-base font-semibold md:text-lg;
	}
	.paragraph {
		@apply font-normal text-foreground;
	}
	.span {
		@apply font-normal text-foreground;
	}
	.anchor {
		@apply text-foreground/70 hover:text-foreground transition-colors cursor-pointer;
	}
}
